# Convex
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=preview:sages-prime:wadii|eyJ2MiI6IjYyYjc0Njg1YWVhMTQ4MWJhODFjMjE3ZDAwZDI3OTVlIn0=


# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

STRIPE_WEBHOOK_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=https://golden-defla.vercel.app/
